.banner {
    height: 500px;
    width: 100%;

    @include mobile {
        height: 300px;
    }

    &-image{
        width: 100%;
        height: 100%;

    }

    &-content{
        position: relative;
        left: 50px;
        bottom: 500px;
        width: 80%;
        
        @include mobile {
            bottom: 270px;
        }
        p{
            text-align: left;
            font-size: 96px;
            color: #002A3B;
            opacity: 1;
            font-weight: bold;
            margin: 0;
            
            @include mobile{
                font-size: 36px;
            }
        }

    }
}