/*Section notre savoir-faire*/
#chauffage {
    flex-direction: row-reverse;
}

.savoirFaire-section {
    display: flex;
    flex-direction: row;
    margin: 50px;
    .service-img{
        width: 50%;
    }

    .savoirFaire-div {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 20px;
        h2 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            text-align: left;
        }

        ul {
            list-style: none;
            
            li {
                display: flex;
                align-items: flex-start;

                .check {
                margin-right: 5px;
                color: $green;
                }

                p{
                    opacity: 1;
                    margin: 0;
                }
            }
        }
    }
}