.cta-section{
    display: flex;
    background: $darkgreen;
    color: white;
    margin: 50px;
    padding: 50px 0;

    p{
        text-align: left;
        margin-bottom: 50px;
    }
}

.cta-title{
    color: white;
    margin: 0;
}