@import './utils/_variables.scss';
@import './utils/_mixins.scss';
@import './utils/_typographie.scss';

/* Dans votre fichier CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: $darkgreen;
}

section {
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    width: 60%;
    margin: 20px 0;
}

h2 {
    color: $darkgreen;
    display: flex;
    justify-content: center;
    font-size: 36px;
    text-align: center;
}  
   
h3 {
    margin: 0;
}

.section-text {
    margin-bottom: 50px;
}

p {
    text-align: center;
    opacity: 0.45;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container__body{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
}

.header {
    @include container;
    margin-bottom: 0;

    &__contact{
        margin: 10px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-details {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            a {
                justify-content: flex-end;
                align-items: center;
                text-decoration: none;
                display: flex;
                color: #002A3B;
                gap: 10px;
            }
        }

        &-media {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            a {
                color: $darkgreen;
            }
        }
    }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50x;

    .logo {
        margin-left: 30px;
    }

    .menu {
        justify-content: flex-end;
        width: 70%;
        height: auto;

        &__item{
            border-right: 2px solid $green;

            &:last-child {
                border-right: none; /* Supprime la bordure droite du dernier élément */
              }
        }
    }
}

.banner {
    height: 500px;
    width: 100%;

    &-image{
        width: 100%;
        height: 100%;

    }

    &-content{
        position: relative;
        left: 50px;
        bottom: 500px;
        p{
            text-align: left;
            font-size: 96px;
            color: #002A3B;
            opacity: 1;
            font-weight: bold;
            margin: 0;
        }

    }
}

button {
    width: 150px;
    height: 40px;
    font-weight: bold;
    background-color: $darkgreen;
    color: $blue;
    border-radius: 50px;
}
.menu{
    display: flex;
    
    align-items: center; /* Centre les éléments verticalement */
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: $darkgreen;

    &__item{
        list-style: none;
        display: flex;
        padding: 0 10px;
        align-items: center;
        justify-content: center;
        
        width: auto;

        &-link{
            text-decoration: none;
            color: $green;
            background-color: $darkgreen;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #002A3B;
    color: white;
    margin-top: 50px;
    width: 100%;

    &__media{
        display: flex;
        justify-content: space-between;
        width: 20%;

        a{
        color: $green;   
        } 
    }
    .menu{
        justify-content: space-between;
        
    }
}
/*------------------------Home------------------------------------
/*Card__service*/
.container__card{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0 10px;
}
.card-link {
    text-decoration: none;
  }
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002A3B;
    color: #a7d403;
    border-radius: 10px;

    &__image {
        width: 100%;
        height: 300px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    &__content {
        text-align: center;
        padding: 10px;

        p {
            color: white;
            opacity: 1;
        }
    }
}

/*Slide*/
/* 
- A revoir

*/
.slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $darkgreen;
    color: white;
    
    &__image {
      max-width: 40%;
      height: 100%;
    }
    
    &__content {
      flex-grow: 1;
      
      &-tab {
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          border-bottom: 1px solid white;
          height: 50px;
          width: 100%;
          display: flex;
          justify-content: center;
          
          li {
            padding: 10px;
            cursor: pointer;
            
            &:hover {
                opacity: 0.45;
            }
            &.active { 
                color : white;
                border-bottom: 5px solid $green; 
            }
          }
        }
      }
      
      &-text {
        margin: 20px 40px;
      }
    }
}
  

  /*Label MArque*/
.container__label{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .label{
        width: 200px;
        padding: 20px;

        img{
            width: 100%;
            height: auto;
        }
    }
}
/*-------------------Fin Home-----------------------------

/*-------------------Notre Savoir faire-------------------------
/*Card Icon*/

.savoirFaire-card{
    .card-link{
        width: 30%;
        .card-span {
            border-radius: 50%;
            background-color: #a7d403;
            color: #002A3B;
            width: 70px;
            height: 70px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            top: -35px;
            left: auto;
            font-size: 30px;
        }
}
}


/*Section notre savoir-faire*/
#chauffage {
    flex-direction: row-reverse;
}

.savoirFaire-section {
    display: flex;
    flex-direction: row;
    margin: 50px;
    .service-img{
        width: 50%;
    }

    .savoirFaire-div {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 20px;
        h2 {
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
        }
        p {
            text-align: left;
        }

        ul {
            list-style: none;
            
            li {

                .check {
                color: $green;
                }
            }
        }
    }
}

.rge__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;
    width: 100%;
    height: 120px;

    &-img {
        width: 100px;
    position: relative;
    top: -35px;
    }
    #rge__div-text {
        text-align: center;
        margin: 0;
        padding: 0 20px;
        color: $darkgreen;
        opacity: 1;
        position: relative;
        top: -30px;
    }
}

/*-----------------------Nos réalisations--------------- 
/*Gallery*/

/*
- améliorer
*/

.gallery {
    display: flex;
    justify-content: space-around;
    background-color: $darkgreen;
    flex-wrap: wrap;
}

.gallery__card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px;
    background-color: white;
}

.gallery__card-img {
    max-width: 100%;
    object-fit: cover;
}

.gallery__card-content {
  text-align: center;
}
/*----------------------------Fin Nos réalisations----------

/*----------------------Devis en ligne-------------------

  /*
  -
  */
  .container__devis {
    .devis__content {
      display: flex;
      flex-direction: row-reverse;
      &-text {
        margin: 0 50px;
          p {
              text-align: left;
              opacity: 1;
          }
      }
      &-img {
          width: 300px
      }
    }
    .devis__container-form {
        width: 50%;
        color: $green;
        background-color: $darkgreen;
    }
    .devis__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;

        &-questions {
            display: flex;
            flex-direction: column;
        }
        &-title  {
            text-align: center;
            margin: 50px 0;
        }
    }
  }

  
  /*
  -
  */
.container__devis {
    .devis__content {
      display: flex;
      flex-direction: row;
      &-text {
          p {
              text-align: left;
              opacity: 1;
          }
      }
      &-img {
          max-width: 50%;
      }
    }
    #devis__form {
      &-title  {
          text-align: center;
          margin: 50px 0;
      }
    }
  }
  
/*---------------------------Fin devis en ligne------------

/*----------------------------Contact--------------------
/*Form*/

/*
-Améliorer
*/
#contact__section {
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
}
.contact__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #002A3B;
    color: #a7d403;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    min-width: 180px;
    font-size: 30px;
    &-title {
        display: none;
    }
    p {
        color: white;
        opacity: 1;
        font-size: 16px;
    }
}
/* Style pour le formulaire */

#form__section {
    display: flex;
    justify-content: center;
}
.contact__form {
    background-color: $darkgreen;
    border-radius: 5px;
    width: 80%;
    h2 {
    color: $green;
    }
}
form {
    margin: 0 auto;
    padding: 20px;
    background-color: #002A3B;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: $green;
    width: calc(100% - (40px));
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .form-group{
        display: flex;
        flex-direction: column;
        width: calc(50% - (10px));

        label {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-weight: bold;
            margin-bottom: 8px;
          }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
        
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
    }

    .form-style{
        width: 100%;
    }
  }
  
  /* Style pour les étiquettes */

  
  /* Style pour les champs de saisie */

  
  /* Style pour le bouton "Valider" */
  button[type="submit"] {
    background-color: $green;
    color: $darkgreen;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Style pour le bouton "Choisir fichier(s)" */
  .custom-file-upload {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  /* Style pour les messages d'erreur */
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }

